/*news detail*/

.section__news-detail {
    padding-top: 0;
}

.section__news-container {
    margin: 0 auto;
    max-width: 806px;
}

.section__news-container {
    width: 100%;
}

.news__detail-picture {
    width: 100%;

    overflow: var(--hidden);
    border-radius: 8px;
}

.news__detail-video {
    overflow: var(--hidden);
    border-radius: 8px;
    
    background: linear-gradient(126deg, #000000, #181818, #000000, #181818, #000000, #181818, #000000, #181818, #000000, #181818, #000000, #181818);
    background-size: 2400% 2400%;

    -webkit-animation: loading 16s ease infinite;
    -moz-animation: loading 16s ease infinite;
    -o-animation: loading 16s ease infinite;
    animation: loading 16s ease infinite;
}

@-webkit-keyframes loading {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes loading {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-o-keyframes loading {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes loading {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

.section__news-container p {
    word-wrap: break-word;
    color: var(--clr-white);
    font-size: 16px;
    font-style: var(-normal);
    font-weight: 400;
    line-height: 24px;
}

.section__news-container p img {
    width: 100%;
}

.news__loading {
    position: var(--absolute);
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: var(--flex);
    align-items: var(--center);
    justify-content: var(--center);
}

/*news detail*/

.news__page {
    padding-top: 0;
}

.news__page-article {
    max-width: 420px;

    text-align: var(--center);
}

.news__page-title {
    margin: 0;
}

.section__header {
    display: var(--flex);
    justify-content: var(--center);
}

.news__wrap {
    display: var(--flex);
    flex-direction: var(--column);
    align-items: flex-start;
    gap: 30px;
}

.news__list {
    width: 100%;
    display: var(--flex);
    flex-direction: row;
    gap: 32px;
}

.news__item {
    width: 50%;

    display: var(--flex);
    flex-direction: var(--column);
    justify-content: var(--flex-start);
    align-items: var(--flex-start);
    align-self: stretch;

    overflow: hidden;
    border-radius: 16px;
    background: var(--clr-alt-black);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.00), 0px 0px 0px 1px rgba(244, 244, 245, 0.10), 0px 0px 0px 0px #FFF;
}

.news__item:hover {
    transform: scale(1.01);

    -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 197, 0, 0.4);
    -moz-box-shadow: 0px 0px 12px 0px rgba(255, 197, 0, 0.4);
    box-shadow: 0px 0px 12px 0px rgba(255, 197, 0, 0.4);
}

.news__img {
    height: 352px;
    width: 100%;
    object-fit: cover;
}

.news__article {
    width: var(--auto);
    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--flex-start);
    padding: 32px;
    gap: 16px;
}

.news__title {
    margin: 0;

    transition: 0.4s ease-in-out;
}

.news__item:hover .news__article .news__title  {
    color: var(--clr-yellow);
}

.news__text {
    margin: 0;
}

.news__more {
    width: 100%;
    display: var(--flex);
    justify-content: var(--center);
}

.news__tag-list {
    position: var(--absolute);
    top: 28px;
    right: 28px;

    display: var(--flex);
    gap: 14px;
}

.news__tag-item {
    padding: 12px 10px;

    display: var(--flex);

    border-radius: 3px;
    background: var(--Neutral-colors-100, #FFF);
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.news__tag-name {
    text-align: var(--center);

    font-size: 16px;
    font-style: var(--normal);
    font-weight: 600;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {

    .news__list {
        flex-direction: var(--column);
    }
    
    .news__item {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .news__item {
        border-radius: 12px;
    }
    
    .news__img {
        height: 180px;
    }

    .news__article {
        padding: 20px 24px;
        gap: 12.25px;
    }

}